anyio==3.6.1
async-generator==1.10
certifi==2018.11.29
chardet==3.0.4
charset-normalizer==2.1.0
contextvars==2.4
dataclasses==0.8
Django==2.1.7
django-bootstrap4==0.0.7
django-crispy-forms==1.7.2
django-formtools==2.1
django-generate-secret-key==1.0.2
django-multiselectfield==0.1.8
dohq-youtrack==0.2.1.60
h11==0.12.0
httpcore==0.14.7
httplib2==0.12.0
httpx==0.22.0
idna==2.8
immutables==0.18
numpy==1.19.5
pandas==1.1.5
Pillow==5.4.1
python-dateutil==2.8.2
pytz==2018.9
requests==2.21.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sqlite3==0.0.0
typing_extensions==4.1.1
urllib3==1.24.1
XlsxWriter==1.1.4
