{% extends "base.html" %}

{% block head_title %}Login|| {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{# Display a form #}
<div class='container'>
<div class="row">
     <div class="col-1">
     <div class="alert" style='min-height: 800px;'>
  </div>
</div>

<div class="col-4 col-md-4 col-lg-4">
</br>
<form action= "" method = "POST">
	{% csrf_token %}
  <legend class = "border-bottom mb-4">Reset Password</legend>
	{{ form|crispy }}
	{% buttons %}
		<button type="submit" class="btn btn-sm">Send</button>
	{% endbuttons %}
</div>
</form>
  </div>
           <div class="col-7">
           	        <div class="alert" style='min-height: 800px;'>
          </div>
         </div>
  </div>
  </div>
{% endblock %}

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.username.errors }}
        <label for="id_email">{% trans 'Email address:' %}</label>
        {{ form.username }}
    </div>
    <input type="submit" value="{% trans 'Change my password' %}">
</fieldset>
</form>