{% extends "base.html" %}

{% block head_title %}Login|| {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}
{% load bootstrap4 %}
{# Display a form #}

     <div class="col-1">
              <div class="alert" style='min-height: 50px;'>
          </div>
         </div>

<div class="col-4 col-md-4 col-lg-4">
  <div class="alert alert-info">
    <p>An email has been sent with instructions to reset your password</p>
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
</div></div>
{% endblock %}
