{% extends 'base.html' %}
{% block head_title %}Login|| {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{# Display a form #}
<div class='container'>
<div class="row">
     <div class="col-7">
     <div class="alert" style='min-height: 800px;'>
  <div>
    Your password has been set.
  </div>
  <a href="{% url 'login' %}">Sign In Here</a> now.
  </div>
</div>

<div class="col-4 col-md-4 col-lg-4">
</br>

  </div>
           <div class="col-7">
                    <div class="alert" style='min-height: 800px;'>
          </div>
         </div>
  </div>
  </div>
{% endblock %}