<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

{% load static %}

<!-- custom css -->
<!-- <link href='/static/css/custom.css' rel='stylesheet'> -->
<style> 


body {
  color: rgba(27,41,68,1);
  font-family: "OpS";
    margin: 0;
      font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.3;
    text-align: left;
    background-color: #fff;
}

.bg-grey {
    background-color: rgba(247,244,249,1);
}

a.navbar-brand {
    height: 44.18px;
    color: rgba(27,41,68,1) !important;
    font-size: 1.4rem;
    padding-top: 0px 0px;
    background-color: rgba(247,244,249,1);

}

.navbar-brand>img {
    vertical-align: bottom;
    width: 37px;
    height: 37px;
}    

table thead th {
  font-size: 1.3rem;
  font-family: "Dense" !important;
;
}

a.navgar {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.1rem;
}

a {

    color: rgba(58,187,186,1);

}

a.indent {

    margin: 40px
}

label {
    display: inline-block;
    margin-bottom: .25rem;
}

.form-group {
    margin-bottom: 0.5rem;
}

p.fr {
  text-indent: 25px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

p.fri {
  text-indent: 25px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

    font-style: italic;
}

p.frb {
  text-indent: 25px;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

    font-weight: bold;
}

p.text-secondary {
  margin: 25px
}
p.subtitle {
  font-style: italic;
  font-size: 1rem;
  margin-left: 25px;
  text-decoration: underline
}

div.row {
  margin-left: 0px;
}

div.ab {
    list-style-type:square;
    margin-left:25px;
    padding: 1;
    background-color: white;
    color: rgba(27,41,68,1) ;
    font-weight: normal; 
    line-height: 1.5
    
}

h6 {
  text-indent: 25px;
      -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h6.frb {
  text-indent: 25px;
      -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-style: italic;

}




h5.frb {
  text-indent: 25px;
      -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

    font-style: italic;
}

li.dropdown{
    display: block;
        color: rgba(0,0,0,.5);
    text-decoration: none;
    font-size: 1.1rem;

}


h5 {
  text-indent: 25px;
      -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h4 {
  text-indent: 25px;
      -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
p.p2 {
      display: block;
    -webkit-margin-before: 0.7em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  color: rgba(27,41,68,1);
font-family: "Dense"; 
font-size: 1.5rem;

}
/* Change the link color on hover */
.btn {
  background-color: rgba(27,41,68,1);
  color: rgba(255,255,255,1);
  padding: 0.1rem 0.3rem;
}

.asteriskField {
  display: none;
}


ul {
    list-style-type: none;
    margin: 0;
    margin-: 0;
    padding: 0;
    background-color: white;
    color: rgba(27,41,68,1) ;

}

ul.ab {
    list-style-type:square;
    margin-left:60px;
    padding: 1;
    background-color: white;
    color: rgba(27,41,68,1) ;
    line-height: 2.0
    
}

ul.cn {
    list-style-type:none;
    margin-left:40px;
    padding: 1;
    background-color: white;
    color: rgba(27,41,68,1) ;
    font-weight: bold; 
    line-height: 1.5
    
}

span.fond-weight-bold {
    font-weight: bold;
}

p.indent {
    margin-left:25px;

}

p.dubble-indent {
  margin-left: 40px;


}

p.extra-box {
    margin-left: 50px;
    color: rgba(5,5,4,0.3);
    font-style: italic

}


li a {
    display: block;
    color: rgba(27,41,68,1) ;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
/*li a:hover {
    background-color: rgba(255,104,30,1);
    color: white;
}

*/
.form-control:focus {
        border-color: rgba(58,187,186,1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(58,187,186,0.5);
      }


select.form-control {
  font-size: 0.8rem; 
}

input.form-control {
    display: block;
    width: 90%;
    padding-top: 0.375rem;
    padding-right: 0.375rem;
    padding-bottom: 0.175rem;
    padding-left: 0.375rem;
    font-size: 0.8rem;
    line-height: 1.3;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

ul.nav.navbar-nav.navbar-right.bg-grey {
 padding-left: 4rem;
}
@media (max-width: 991px) {
.bd-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem;
  }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

  }

}
@font-face {
  font-family: 'Dense'; 
  src: url('../../../static/fonts/Dense-Bold.otf') format("opentype");
  src: local('../../../static-dev/fonts/Dense-Bold.otf') format("opentype");
  font-weight: bold;
  font-style: normal;
  }


@font-face {
  font-family: 'Dense'; 
  src: url('../../../static/fonts/Dense-Regular.otf') format("opentype");
  src: local('../../../static-dev/fonts/Dense-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: 'Dense'; 
  src: url('../../../static/fonts/Dense-Thin.otf') format("opentype");
  src: local('../../../static-dev/fonts/Dense-Thin.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dense'; 
  src: url('../../../static/fonts/Dense-Thin.otf') format("opentype");
  src: local('../../../static-dev/fonts/Dense-Thin.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
  }
 @font-face { 
  font-family: 'OpS'; 
    src: url('../../../static/fonts/OpenSans-Regular.ttf') format("truetype");
    src: local('../../../static-dev/fonts/OpenSans-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  } 
 @font-face { 
  font-family: 'OpS'; 
    src: url('../../../static/fonts/OpenSans-Light.ttf') format("truetype");
    src: local('../../../static-dev/fonts/OpenSans-Light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
  } 
 @font-face { 
  font-family: 'OpS'; 
    src: url('../../../static/fonts/OpenSans-Italic.ttf') format("truetype");
    src: local('../../../static-dev/fonts/OpenSans-Italic.ttf') format("truetype");
  font-weight: normal;
  font-style: italic;
  } 
 @font-face { 
  font-family: 'OpS'; 
    src: url('../../../static/fonts/OpenSans-SemiBoldItalic.ttf') format("truetype");
    src: local('../../../static-dev/fontsOpenSans-SemiBoldItalic.ttf') format("truetype");
  font-weight: bold;
  font-style: italic;
  } 
   @font-face { 
  font-family: 'OpS'; 
    src: url('../../../static/fonts/OpenSans-Semibold.ttf') format("truetype");
    src: local('../../../static-dev/fonts/OpenSans-SemiBold.ttf') format("truetype");
      font-weight: bold;
  font-style: normal;
}


/*.nav .navbar-expand-lg .navbar-light .bg-light {
  padding-top: 1rem;
}*/

</style>

