
<!-- Just an image -->
{% load static %}
{% block content3 %}


<!-- Just an image -->
 <div class='container'>
  <div class="row">
    <div class="col-md-12 ml-12">  
      <footer class="footer">
        <div class="navbar-inner bg-grey fs-13">
          <div class="text-center">
          <span><i class="fa fa-copyright"></i></span> VIB Proteomics Core
          <br>Albert Baertsoenkaai 3 | 9000 Ghent - Belgium 
          <br><a class="foot" href="{% url 'contact' %}">Contact</a> | <a class="foot" href="{% url 'ShippingInstructions' %}">Shipping instructions</a> | <a class="foot" href="{% url 'AboutTheCore' %}">About the Core</a>
          <br>
          <a href="https://twitter.com/VIB_PRC"><span><i class="fa fa-twitter fa-2x"></i></span> </a> <a href="mailto:prc@vib-ugent.be"><span><i class="fa fa-envelope fa-2x"></i></span> </a>
        </div>
         </div>
        </div>
      </footer> 
    </div>
  </div>
</div>

<footer class="bd-footer text-muted">
  <div class="container">
  
  </div>
</footer>
{% endblock %}
