
<!-- Just an image -->
{% load static %}
{% block content %}


 <div class='container'>
  <div class='row'>
    <div class='col-md-12 ml-12 '>
      <div class="navbar-inner bg-grey " >
        <nav class="navbar navbar-expand-md navbar-light bg-grey ">
          <a class="navbar" href="{% url 'home' %}">
            <img src='{% static "./proteomics_core.png" %}' width="250" height="100" class="d-inline-block align-center" alt="">  
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">PRC Portal</a>
          --> 
          <div class="collapse navbar-collapse" id="#navbarNav">
    
            <ul class="nav navbar-nav align-right ml-auto bg-grey">
              <li {% if "/logout" == request.path %}class="nav-item active"{% endif %}>
                <a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-user fa-2x"></span><span class="fa fa-sign-out fa-lg"></span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>


  <!-- <a class="navbar-brand" href="#">PRC Portal</a>

 -->

  <!-- <a class="navbar-brand" href="#">PRC Portal</a>

 --> 


{% endblock %}

{% block extra_js %}

{% endblock %}

