{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}

<div class='container'>
<div class="row">
  <div class="col-12 ml-auto text-center">  
    <h1>About the VIB Proteomics Core (PRC)</h1>
  </div>

  <div class="col-12 ml-auto text-justify ">
    <p>The VIB Proteomics Core (PRC), located at the VIB-UGent Center for Medical Biotechnology in Ghent, Belgium, provides contemporary mass spectrometry (MS)-based proteomics services to academic and non-academic users. The PRC started in 2005 as a spin-off service unit of the proteomics laboratory of Prof. Dr Kris Gevaert. Today, it has evolved from a research-oriented facility to a service-oriented platform and has become a reference centre for proteome research in Belgium and beyond.</p>
    <p>Six state-of-the-art orbitrap mass spectrometers coupled with nano-LC chromatography systems are available to perform LC-MS/MS analyses at the PRC. These instruments run 24/7 and can process several hundred samples/month. In addition, the PRC has a triple quadrupole mass spectrometer for targeted proteomics, as well as a MALDITOF MS/MS instrument.</p>
    <p>As part of its routine services portfolio, the PRC offers three main types of proteomics applications in modern life sciences: 
      <ol class="indent"> 
        <li><em>Shotgun analysis</em> which generates comprehensive proteomic profiles that reveal differences in protein levels associated with a particular cellular state or experimental condition; </li>
        <li><em>Affinity purification mass spectrometry (AP-MS) </em>experiments which allow the characterisation of protein complexes and the discovery of novel protein interactions</li>
        <li>Mapping of common protein <em>post-translational modifications </em>such as acetylation, phosphorylation and ubiquitination, for which the PRC has extensive experience.</li>
      </ol>

    <p>In addition to these routine applications, customised services are provided including the identification of proteolytic processing sites, the development of targeted proteomics assays (e.g. by SRM/PRM) and mass determination of intact proteins. Samples can be isotopically labelled (e.g. by SILAC or TMT labelling) for optimal quantitation accuracy or sample multiplexing, in addition to the standard label-freeworkflows.</p>
    <p>Significant advances in the development of LC-MS/MS instrumentation and data analysis software over recent years have set the stage for clinical proteomics. In order to keep pace with these developments and to take an active role in biomarker discovery, the PRC recently implemented a novel analysis pipeline based on Data Independent Acquisition (DIA). This pipeline ensures improved detectability and quantitation of proteins, and is ideally suited for highthroughput screening of patient samples. </p>
    <p>The PRC is operated by an experienced, international team composed of MS engineers, biochemists and data analysts, and applies constant monitoring procedures including daily MS quality control and continuous benchmarking of implemented protocols. Thus the facility is able to deliver high quality services at all times, encompassing every step of a proteomics experiment. Users are guided from sample collection to data analysis, and receive assistance from the PRC team to formulate biological conclusions that are easy to interpret for the non-proteomics expert.</p>
  </div>
<!--
  <div class="col-5 ml-auto">
    <div class="row">
      <h4 class="text-center">ID Card:</h4>
      <table> 
        <tr>
          <td>Analytical platform type:</td><td>Proteomics</td>
        </tr>
        <tr>
          <td>Main techniques proposed:</td><td> <ul> <li>Mass spectrometry-based proteomics
(LC-MS/MS)</li><li>Shotgun proteomics by DDA &DIA</li><li>Analysis of common posttranslationalmodifications (e.g.phosphorylation, ubiquitination,acetylation)</li><li>Characterisation of protein complexes
and interaction partners(e.g. AP-MS, Bio-ID)</li><li>Targeted proteomics by SRM &
PRM</li></ul></td>
        </tr>
        <tr>
          <td>Capacity:</td><td>Hundreds of samples per month</td>
        </tr>
        <tr>
          <td>Delay to start:</td><td>Dependent on the scale of theproject, typically 1 to 2 weeks</td>
        </tr>
        <tr>
          <td>Duration of experiment:</td><td>Dependent on the scale of the project, typically 5 to 6 weeks</td>
        </tr>
        <tr>
          <td>Intercomparison exercise proposed:</td><td>Daily quality control via <a href="https://qcloud.crg.eu">QCloud</a></td>
        </tr>
        <tr>
          <td>Training proposed:</td><td>On request</td>
        </tr>
      </table>
-->
      </div>
    </div>
  </div>
</div>

{% endblock %}  
         

from home show templateview()
