{% extends "base.html" %}

{% block head_title %}About || {{ block.super }}{% endblock head_title %}

{% block content2 %}
<div class='container'>
<div class="row">
     <div class="col-12 ml-auto">

		<h5>About the VIB Proteomics Core portal</h5>
		<p class="fr">This website is a an extension of our facility's<a href="https://corefacilities.vib.be/pec"> main page</a> and serves 2 goals:</p>
		<ul class="ab">
			<li>As a registration platform for your proteomics experiment</li>
			<li>As an access point to follow the progress of your experiment</li>
		</ul>
		<p class="fr">You can find further information on our website or contact us:</p>
		<ul class="cn">
			<li>Email: pec@vib-ugent.be</li>
			<li>Phone: +32 9 264 93 60</li>
		</ul>

         </div>
  </div>
  </div>
               <div class="col-4">
           	        <div class="alert" style='min-height: 600px;'>
          </div>
         </div>

{% endblock %}
