<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}

<html lang="en" ng-app="cfe">

<head>

    <meta charset="utf-8" />
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png"> -->

   
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
{% block head_title %}VIB Proteomics Core{% endblock head_title %} 
</title>
{% include 'snippets/css.html' %}

</head>

<body font-family:"OpS">
{% include 'snippets/nav.html' %}

     	  
{% block content %}
{% endblock %} 


{% block content2 %}


{% endblock %}



{% include 'snippets/js.html' %}

</body>
<br>
{% block content3 %}
 {% include 'snippets/foot.html' %} 
 {% endblock %}
</html>


