<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}
<p>Dear {{ Contact_Person }},</p>
<p>Thank you for registering your proteomics project!</p>
<p>Please find below a review of the project registration information, as well as a copy of our Terms of Use.</p>
<p>For your reference, your project name is: {{ Project_ID }}</p>
</br>--</br>
<h3>Sample submission procedure</h3>
<p>Please visit our sample shipping <a href="http://127.0.0.1:8000/ShippingInstructions">guidelines page</a>.</p>
<p>Before sending the samples, please contact <a href="mailto:delphi.vanhaver@vib-ugent.be">Delphi Van Haver</a> from our team. She will help you pick a good time for the shipment.</p>
</br>--</br>
<h3>Getting notified about your project status</h3>
<ul>
	<li>Once your samples arrive to our facility, you will get an email notification.</li><li>Each proteomics project gets a responsible at our team. He/she will be your main contact point at the VIB Proteomics Core. The project responsible will get in touch to send you your proteomics results and data analysis report and, whenever needed, to discuss technical details associated with the project.</li><li>To check the status of the project, please visit <a href="http://127.0.0.1:8000/project-info">this page</a>.</li>
</ul>
</br>--</br>
<p>Best regards,</p><p>The VIB Proteomics Core</p>
</br>
<hr>
<hr>
{% block content %}
<b>Overview of Project Registration details</b>
{% for formtitle,form in formdict.items %}
	<b>{{ formtitle }} </b>
	{% for field in form.items %}
		<p>{{ field.0 }} : {{ field.1 }}</p>
		

{% endfor %}
<hr>
{% endfor %}


{% endblock %} 
