<!-- contact-->
{% extends "base.html" %}

{% block head_title %}Contact || {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}

{% load bootstrap4 %}
{# Display a form #}

<div class="container">
  <div class="col-md-12 ml-12">
    <div class="row">
      <div class="col-md-12 text-center">
      <h2 class="text-dark mb-4">Contact</h2> </div>
    </div>
      <a href="https://corefacilities.vib.be/pec" class="indent">VIB Proteomics Core institutional website</a>

      <ul class="cn">
        <li>Email: prc@vib-ugent.be</li>
        <li>Phone: +32 9 264 93 60</li>
        <li>Shipping Address:
        	<div class ="ab">VIB Center for Medical Biotechnology</div>
        	<div class = "ab">Albert Baertsoenkaai 3</div>
        	<div class = "ab">9000 Ghent - Belgium</div>

        </li>
        <li>When delivering the samples in person: <div class="ab"> Use the entrance at the Apotheekstraat. And go to the glass building in front of you. </div></li>
          <br>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.4025286725314!2d3.717935815881027!3d51.045654852178984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3715b6f78fa25%3A0xadb1d775fbc3c1e4!2sVIB+Medical+Biotechnology+Center!5e0!3m2!1snl!2sbe!4v1554380783666!5m2!1snl!2sbe" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <br>
      </ul>
    
      <img src="">
      <div class="alert" style='min-height: 800px;'>
      </div>
</div>

{% endblock %}

