<!-- contact-->
{% extends "base.html" %}

{% block head_title %}Contact || {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}

{% load bootstrap4 %}
{# Display a form #}

<div class="container">
  <div class="col-md-12 ml-12">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-dark mb-4 text-center">Contact</h2> </div>
    </div>
    <div class="indent-bold"><a href="https://corefacilities.vib.be/pec" >VIB Proteomics Core institutional website</a> </div>
    <div class="indent-bold">Email: <a href="mailto:prc@vib-ugent.be">prc@vib-ugent.be</a></div>
    <div class="indent-bold">Phone: +32 9 264 93 60</div>
    <div class="indent-bold"><a href="https://twitter.com/VIB_PRC">Twitter</a></div>
    <div class="indent-bold">Shipping</div>
    <br>
    <div class="dubble-indent-bold">Shipping Address:</div>
    <div class="dubble-indent">VIB Center for Medical Biotechnology</div>
    <div class="dubble-indent">Albert Baertsoenkaai 3</div>
    <div class="dubble-indent">9000 Ghent - Belgium</div>
    <br>
    <div class="dubble-indent"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.4025286725314!2d3.717935815881027!3d51.045654852178984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3715b6f78fa25%3A0xadb1d775fbc3c1e4!2sVIB+Medical+Biotechnology+Center!5e0!3m2!1snl!2sbe!4v1554380783666!5m2!1snl!2sbe"  frameborder="0" style="border:0" allowfullscreen></iframe></div>
<br>

    <div class="dubble-indent-bold">When delivering the samples in person: </div> 
    <div class="dubble-indent">Use the entrance at Apotheekstraat and go to the glass building in front of you.</div>
    <br>
    <div class="dubble-indent">
      <iframe src="https://www.google.com/maps/embed?pb=!4v1554732714410!6m8!1m7!1spIpyvwehC02ncpnobpB-3w!2m2!1d51.04608646067122!2d3.719715141445425!3f209.71272092357827!4f-2.2905396352695817!5f0.7820865974627469" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

  </div>
</div>


{% endblock %}

