{% extends 'base.html' %}

{% block content2 %}

<div class='container'>
<div class="row">
	             <div class="col-7">
                    <div class="alert" style='min-height: 50px;'>
          </div>
         </div>
     <div class="col-12 ml-auto">
<h5>Your registration was successfull! Thank you.</h5>
	<!-- {{ upload_file  }} -->
<h5>You will receive a confirmation email.</h5>
</br>
</br>

       <div class="col-4">
                    <div class="alert" style='min-height: 400px;'>
          </div>
         </div>
{% endblock %}