{% extends 'base.html' %}

{% block content2 %}

<div class='container'>
<div class="row">
	             <div class="col-7">
                    <div class="alert" style='min-height: 50px;'>
          </div>
         </div>
     <div class="col-12 ml-auto">
<h5>This project has already been registered.</h5>
</br>
<ol>
  <li> To be able to resubmit a registration, please write an email to <a href="mailto:teresa.maia@vib-ugent.be">Teresa Maia</a>.</li>
  </br>
  <li> If you wish to perform a new analysis at the core, please follow <a href="https://vibproteomicscore.be/information"> these</a> instructions.</li>
</ol>

</br>
</br>

       <div class="col-4">
                    <div class="alert" style='min-height: 400px;'>
          </div>
         </div>
{% endblock %}