{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}
<!--<div class='container'>
<div class="row">
  <div class="col-12 ml-auto">-->
<!--
    <h5 class="frb">Welcome to the VIB Proteomics Core portal!</h5>
    <br>
-->
    <!--
  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header"><a href="{% url 'projectregistration' %}">Create a project</a></div>
                <div class="card-body">
                  <p class="card-text" style="">To create a project, you have to contact the facility.&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-white bg-primary mb-3">
                <div class="card-header"><a href="{% url 'project-info' %}">Check project status</a></div>
                <div class="card-body">
                  <p class="card-text">If you sent your samples, you can find the status of your project here.&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card text-white bg-info mb-3">
                <div class="card-header">Information</div>
                <div class="card-body">
                  <p class="card-text">here you can find information about the facility, our services, and frequently asked questions.&nbsp;</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="py-5 text-center filter-dark" style="background-image: url('http://www.vib.be/VIBMediaLibrary/Science%20and%20Technologies/Core-Facilities_PEC_275.jpg');background-size:cover;background-position:center center;" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
           <h1> Proteomics Core Facility </h1>
        </div>
      </div>
    </div>
</div>

-->
<!--
  <div class="py-3 text-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 p-4">
          <h4> <b><a href="{% url 'projectregistration' %}">Create a project</a></b> </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4 col-6 p-4" >
          <h4> <b><a href="{% url 'project-info' %}">Check project status</a></b> </h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-md-4 col-6 p-4">
          <h4> <b><a href="{% url 'questions' %}">Information</a></b></h4>
          <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
-->
<!--
<div class="py-5 text-center filter-dark" style="background-image: url('http://www.vib.be/VIBMediaLibrary/Science%20and%20Technologies/Core-Facilities_PEC_275.jpg');background-size:cover;background-position:center center;" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
           <h1> Proteomics Core Facility </h1>
        </div>
      </div>
    </div>
</div>
-->


  <div class="py-5 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-dark mb-4">Welcome to the VIB Proteomics Core portal!</h1>
        </div>
      </div>
        <div class="py-5 text-center filter-dark" style="background-image: url('https://corefacilities.vib.be/images/headers/PEC/PEC_large.jpg');background-size:cover;background-position:center center;" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12">
           <!--<h1> Proteomics Core Facility </h1>-->
        </div>
      </div>
    </div>
</div>
      <div class="row text-dark">
        <div class="col-lg-4 p-3">
          <div class="card text-center">
            <div class="card-body p-4 card-home">
              <h3 style="font-weight: bold;">Register new project</h3>
              <br>
              <a class="btn btn-link" href="{% url 'projectregistration' %}">GO!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card text-center">
            <div class="card-body p-4 card-home">
              <h3 style="font-weight: bold;">Check project status</h3>
              <br>
              <a class="btn btn-link" href="{% url 'project-info' %}">GO!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 p-3">
          <div class="card text-center">
            <div class="card-body p-4 card-home" >
              <h3 style="font-weight: bold;">Information for users</h3>
              <br>
              <a class="btn btn-link" href="{% url 'information' %}">GO!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



    <!--<p class="fr">This website is a an extension of our facility's<a href="https://corefacilities.vib.be/pec"> main page</a> and serves 2 goals:</p>
    <ul class="ab">
      <li>As a registration platform for your proteomics project</li>
      <li>As an access point to follow the progress of your experiment</li>
    </ul>
    
    <br/>
    <p class="fr">If you want your samples to be analyzed by the VIB Proteomics core, please use the workflow below.</p>


    <div class="container">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              1. Contact the facility at an early stage and announce delivery
            </a>
          </div>
          <div id="collapseOne" class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
              Before sending samples to the Facility, <a href="{% url 'contact' %}">contact us</a> in an early stage so your specific question can be discussed.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              2. Register your project
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
                When the project is accepted, you will receive a login to access <a href="{% url 'projectregistration' %}">the sample registration tab </a>. 
              </p>
              <p class = "indent">
                There you have to complete the form with all the information about the experiment you’re about to send. 
              </p>
              <p class = "text-secondary">
                <span class = "font-weight-bold">Note:</span> Please try to fill in all the fields. That way, we can understand the goals and expectations of your experiment. </p>
            </div> 
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              3. Send your sample according to the sample delivery guidelines
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
              After project registration, arrangements on delivery date can be made with the Proteomics Core. All instructions can be found <a href="{% url 'sample_delivery' %}">here</a>. </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
              4. Follow your project
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
              During sample processing we will update the status of your project. This can be followed in the project status tab. </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
              5. Check the results
            </a>
          </div>
          <div id="collapseFive" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
              The results of the analysis will be send to you from the moment the data-analysis is finished. If you have quenstions, you can always check our <a href="{% url 'questions' %}"> frequentlty asked questions</a> tab. Don't hesitate to <a href="{% url 'contact' %}">contact us</a> if your questions are not solved.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->

       <div class="col-4">
                    <div class="alert" style='min-height: 400px;'>
          </div>
         </div>
  {% endblock %}	
         

from home show templateview()