{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-dark mb-4">Welcome to the VIB Proteomics Core portal!</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ml-12">
          <div class="py-5 text-center filter-dark" style="background-image: url('https://corefacilities.vib.be/images/headers/PEC/PEC_large.jpg');background-size:cover;background-position:center center;" >
            <div class="container py-5">
              <div class="row">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-dark">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
          <div class="card text-center">
            <div class="card-body p-4 card-home">
              <h3 style="font-weight: bold;">Register new project</h3>
              <br>
              <a class="btn btn-link" href="{% url 'projectregistration' %}">GO!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
          <div class="card text-center">
            <div class="card-body p-4 card-home">
              <h3 style="font-weight: bold;">Check project status</h3>
              <br>
              <a class="btn btn-link" href="{% url 'project-info' %}">GO!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
          <div class="card text-center">
            <div class="card-body p-4 card-home" >
              <h3 style="font-weight: bold;">Information for users</h3>
              <br>
              <a class="btn btn-link" href="{% url 'information' %}">GO!</a>
            </div>
          </div>
        </div>
    </div>
      </div>
<div class="alert" style='min-height: 800px;'>
</div>

  {% endblock %}  
