{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}


<!--
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>-->
<body data-spy="scroll" data-target=".nav" data-offset="50">


<div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-3.5">
          <ul class="nav nav-pills flex-column">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">The Core
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Instruments</a></li>
                  <li><a href="#">Protocols</a></li>
                  <li><a href="#">Materials & Methods</a></li>
                </ul>
              </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">The Proces
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Registration</a></li>
                  <li><a href="#">Sample delivery Instructions</a></li>
                  <li><a href="#">Follow up</a></li>
                </ul>
              </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Frequently asked questions
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">General</a></li>
                  <li><a href="#">Sample preperations</a></li>
                  <li><a href="#">LC-MS/MS analysis</a></li>
                  <li><a href="#">Data-analysis</a></li>
                </ul>
              </li>
          </ul>
        </div>   
        </div>






        <div class="col-9">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabcore" role="tabpanel">
              <p class="">In my soul and absorb its power, like the form of a beloved mistress, then I often think with longing. A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
            </div>
            <div class="tab-pane fade" id="tabproces" role="tabpanel">
              <p class=""> I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>
            </div>
            <div class="tab-pane fade" id="tabfaq" role="tabpanel">
              <p class="">Which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite. When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



<div class="container">
  <div class="row text-dark">
    <div class="col-lg-3 p-3">
      <div class="card text-center">
        <div class="card-body p-4">
          <h3>The Core</h3>
          <a class="btn btn-link" href="Tabgeneral">GO!</a>
        </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <div class="card text-center">
          <div class="card-body p-4" data-toggle="Tabsampleprep">
            <h3>The proces</h3>
            <ul><li>Sample submission</li></ul>
              <a class="btn btn-link" href="Tabsampleprep">FAQ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <div class="card text-center">
          <div class="card-body p-4" data-toggle="TabLCMSMS">
            <h3>Frequently asked questions</h3>
              <a class="btn btn-link" href="TABLCMSMS">FAQ</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 p-3">
        <div class="card text-center">
          <div class="card-body p-4" data-toggle="Tabdataanalysis">
            <h3>Data-analysis</h3>
            <a class="btn btn-link" href="Tabdataanalysis">FAQ</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show active" id="Tabgeneral" role="tabpanel">
              <p class="">When I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms.</p>
            </div>
  </div>
</div>

    </div>
  </div>
</div>

</body> 




         <div class="col-4">
                    <div class="alert" style='min-height: 400px;'>
          </div>
         </div>
  {% endblock %}  
         

from home show templateview()