{% extends "base.html" %}

{% block head_title %}Info || {{ block.super }}{% endblock head_title %}
{% load static %}
{% block content2 %}

<div class="container">
<div class="col-md-12 ml-12">
    <div class="row">
        <div class="col-md-12 ml-12 text-center">
          <h2 class="text-dark mb-4">How to work with us</h2> </div>
          <ol>
            <li class="indented-list">If you are interested in performing an analysis at our core, <a href="{% url 'contact' %}">please contact us</a> at an early stage so your specific question can be discussed.</li>
            <li class="indented-list">When the project is accepted, you will receive a login to <a href="{% url 'projectregistration' %}">register a new project </a>.</li>
          </ol>
        </div>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-3"> <i class="fa fa-flask fa-5x"></i> </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 d-flex  flex-column justify-content-center">
          <h4><a href="{% url 'protocols' %}">Sample preparation instructions</a></h4>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-3"> <i class="fa fa-truck fa-5x"></i> </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 d-flex  flex-column justify-content-center">
          <h4><a href="{% url 'ShippingInstructions' %}">Shipping instructions</a></h4>
        </div>
      </div>
      <hr>
<!--
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-3"> <i class="fa fa-question fa-5x"></i> </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 d-flex  flex-column justify-content-center">
          <h4><a href="{% url 'questions' %}">FAQ</a></h4>
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-lg-2 col-md-9 col-3"> <i class="fa fa-line-chart fa-5x"></i> </div>
        <div class="col-md-9 offset-lg-1 d-flex flex-column justify-content-center">
          <h4><a href="{% url 'reports' %}">Material & methods, reporting</a></h4>
        </div>
      </div>
      <hr>-->

  </div>
</div>

<div class="alert" style='min-height: 200px;'>
</div>
  {% endblock %}  
         

from home show templateview()
