<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}

{% block content %}
<p>Dear customer,</p>

<p>You are receiving this email because you recently contacted the VIB Proteomics Core to request one analysis.</p>

<p>This message intends to provide you with the required information to get your proteomics project started.</p>

<p>Your project name is: {{ user.username }}</p>
<p>To register, please visit the <a href="http://127.0.0.1:8000">VIB Proteomics Core website</a> and fill in your project's registration form, which you will be able to access using the following credentials:</p>
<ul>
<li>Project_ID: {{ user.username }} </li>
<li>keyword: {{ pw }} </li>
<li>keyword: {{ user.password }} </li>
</ul>

<p>Thank you for choosing to work with us.</p>
<p>Best regards,</p><p>The VIB Proteomics Core</p>
</br>
{% endblock %}