<!DOCTYPE html>
{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div class="text-justify">
<p>Dear customer,</p>

<p>You are receiving this email because you recently contacted the VIB Proteomics Core to request an analysis.</p>

<p>Your project ID is: {{ user.username }}</p>
<p>To register, please visit the <a href="https://vibproteomicscore.be">VIB Proteomics Core website</a> and fill in your project's registration form, which you will be able to access using the following credentials:</p>
<ul>
<li>Project_ID: {{ user.username }} </li>
<li>keyword: {{ pw }} </li>
</ul>
</br>
<p>For any question about the registration procedure, please contact <a href="mailto:sara.dufour@vib-ugent.be">Sara Dufour</a> from our team.</p>
</br>
<p>Thank you for choosing to work with us.</p>
<p>Best regards,</p><p>The VIB Proteomics Core</p>
</br>
</div>
{% endblock %}
