{% extends "base.html" %}

{% block head_title %}Login|| {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{# Display a form #}
<div class='container'>
<div class="row">
     <div class="col-1">
     <div class="alert" style='min-height: 800px;'>
  </div>
</div>

<div class="col-4 col-md-4 col-lg-4">
</br>
<form action= "" method = "POST">
	{% csrf_token %}
	{{ form|crispy }}
	{% buttons %}
		<button type="submit" class="btn btn-sm">Login</button>
   <!--  <small class='test-muted ml-2 align-right'>
      <a href="{% url 'password_reset' %}">         Request new password</a>
    </small> -->
	{% endbuttons %}
</div>

</form>
  </div>
  <div class="border-top pt-3">
    <small class="text-muted">
     <a class="ml-2" href="{% url 'password_reset' %}">
    </small>
  </div>
</div>
           <div class="col-7">
           	        <div class="alert" style='min-height: 800px;'>
          </div>
         </div>
  </div>
  </div>
{% endblock %}
