{% extends "base.html" %}

{% block head_title %}Login|| {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{# Display a form #}
<div class='container'>
  </br>

<div class="row">
<div class="col-1">
     <div class="alert" style='min-height: 700px;'>
  </div>
</div>
<div class="col-7 col-md-7 col-lg-7">
</br>
<form action= "" method = "POST">
    <h5 align="center"><b>Log in to your project area</b></h5>
<p align="center"><i>Haven't you discussed your new project with us yet? Please follow <a href="https://vibproteomicscore.be/information"> these</a> instructions.</i></p>
	<div class="col-5 col-md-5 col-lg-5">
  {% csrf_token %}
	{{ form|crispy }}
	{% buttons %}
		<button type="submit" class="btn btn-sm">Login</button>

	{% endbuttons %}
</div>
</form>
</div>
</div>



           <div class="col-7">
           	        <div class="alert" style='min-height: 700px;'>
          </div>
         </div>
  </div>
  </div>
{% endblock %}
