{% extends "base.html" %}

{% block head_title %}Login|| {{ block.super }}{% endblock head_title %}

{% block content2 %}

{# Load the tag library #}
{% load bootstrap4 %}
{# Display a form #}
<div class='container'>
<div class="row">
     <div class="col-1">
     	        <div class="alert" style='min-height: 800px;'>
          </div>
         </div>

<div class="col-4 col-md-4 col-lg-4">
</br>
<h2>You have been logged out</h2>
  </div>
  <div class="border-top pt-3">
    <small class="text-muted">
      <a href="{% url 'login' %}">Log In Again</a>
    </small>
  </div>
           <div class="col-7">
           	        <div class="alert" style='min-height: 800px;'>
          </div>
         </div>
  </div>
  </div>
{% endblock %}
