{% extends "base_maintenance.html" %}
{% load staticfiles %}
{% load static %}
{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Maintenance</title>

    <style>
      body { text-align: center; padding: 150px; }
      h1 { font-size: 50px; }
      body { font: 20px Helvetica, sans-serif; color: #333; }
      article { display: block; text-align: left; width: 650px; margin: 0 auto; }
      a { color: #dc8100; text-decoration: none; }
      a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
  <div class="container">
  <div class="col-md-12 ml-12">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-dark mb-4 text-center"></h2> </div>
    </div>
<article>
        <h1>We&rsquo;ll be back soon!</h1>
        <div>
            <p>Our website is under maintenance at the moment. If you need to you can always <a href="mailto:prc@vib-ugent.be">contact us</a>, otherwise we&rsquo;ll be back online shortly!</p>
            <p>&mdash; The VIB Proteomics Core Team</p>
        </div>
    </article>
   </div>
   <div class="col-md-12 ml-12">
    <div class="row">
      <div class="col-md-12 text-center">
        </div>
        </div>
        </div>
</body>
</html>


{% endblock %}  
