
{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% block head_title %}Project Registration || {{ wizard.form.media }}{{ block.super }}{% endblock head_title %}


{# Load the tag library #}


{# Display a form #}

{% block content2 %}

 <div class='container'>
<div class="row">
<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

  <h2 class="dtitle">User information</h2>

{% load crispy_forms_tags %}
{{ wizard.management_form }}

    <div class="form-row col-12 ">
    <div class="form-group col-2 mb-0">
       {{ form.Project_ID|as_crispy_field }}
    </div>
    </div>
    <div class="form-row col-12 ">
    <div class="form-group col-4 mb-0">
       {{ form.Name|as_crispy_field }}
    </div>
        </div>
        <div class="form-row col-12 ">
      <div class="form-group col-4 mb-0">
       {{ form.Email|as_crispy_field }}
    </div>
        </div>
    <div class="form-row col-12 ">
    <div class="form-group col-4 mb-0">
       <div id="div_id_0-Affiliation" class="form-group">
            <label for="id_0-Affiliation" class="col-form-label  requiredField">
                Affiliation<span class="asteriskField">*</span>
            </label>
                <div class="">
                <select name="0-Affiliation" class="select form-control" required="" id="id_0-Affiliation" onchange="DDSelectCheck(this);">
  <option value="" selected="">---------</option>
  <option value="UGent-VIB">UGent-VIB</option>
  <option value="UGent-CRIG">UGent-CRIG</option>
  <option value="UGent">UGent</option>
  <option value="KULeuven-VIB">KULeuven-VIB</option>
  <option value="KULeuven">KULeuven</option>
  <option value="UAntwerpen-VIB">UAntwerpen-VIB</option>
  <option value="UAntwerpen">UAntwerpen</option>
  <option value="VUB-VIB">VUB-VIB</option>
  <option value="VUB">VUB</option>
  <option value="UHasselt-VIB">UHasselt-VIB</option>
  <option value="UHasselt">UHasselt</option>
  <option id="IDOption" value="Industry">Industry</option>
  <option id="DDOption" value="Other">Other</option>
</select>
                </div>        
    </div>
    </div>
        </div>

    <div class="form-row col-12 ">
    <div class="form-group col-4 mb-0" id="OIDivCheck" style="display:none;">
       {{ form.Other_institution|as_crispy_field }}
    </div>
  </div>

    <div class="form-row col-12 ">
    <div class="form-group col-4 mb-0" id="IIDivCheck" style="display:none;">
        <div id="div_id_0-Group_leader" class="form-group">
            <label for="id_0-Group_leader" class="col-form-label requiredField">
                Name of group leader<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="0-Group_leader" placeholder="e.g. Claudia Berts" maxlength="120" class="textinput textInput form-control" required="" id="id_0-Group_leader">    
            </div>
        </div>
    </div>
  </div>
    <div class="form-row col-12 ">
    <div class="form-group col-4 mb-0">
       {{ form.Address|as_crispy_field }}
    </div>
        </div>

<br/>
<div class="container medind">



{% if wizard.steps.prev %}

<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" name="submit" class="btn btn-sm" value="{% trans "next step" %}" />
</div>
</div>
<div class="form-row col-12 center">
    <div class="meddind">
<p><i><font size="2.8">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} </font></i></p>
</div>
</div>

</form>
  </div>
  </div>

{% endblock %}

{% block extra_js %}

<script>
function DDSelectCheck(nameSelect)
{
    console.log(nameSelect);
    if(nameSelect){
        DDOptionValue = document.getElementById("DDOption").value;
        IDOptionValue = document.getElementById("IDOption").value;
        if(DDOptionValue == nameSelect.value){
            document.getElementById("OIDivCheck").style.display = "block";
            document.getElementsByName("0-Group_leader")[0].placeholder = "e.g. Claudia Berts";
            document.querySelector("label[for=id_0-Group_leader]").innerHTML = "Name of group leader";
        }
        else{
            if(IDOptionValue == nameSelect.value){
                document.querySelector("label[for=id_0-Group_leader]").innerHTML = "Company name";
                document.getElementsByName("0-Group_leader")[0].placeholder = "";
                document.getElementById("OIDivCheck").style.display = "none";
  
            }
            else {
                document.querySelector("label[for=id_0-Group_leader]").innerHTML = "Name of group leader";
                document.getElementsByName("0-Group_leader")[0].placeholder = "e.g. Claudia Berts";
                document.getElementById("OIDivCheck").style.display = "none";
            }
        }
    }
                document.getElementById("IIDivCheck").style.display = "block";

}
</script>

{% endblock %}

