{% extends "base.html" %}
{% load static %}
{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}
<div class='container'>
<div class="row">
   <div class="col-10 mr-auto">
<div class="card card-default"> 
  <div class="card-header">
    <p class="dtitle">Project status</p> 
  </div>
            <div class="card-content">
              <div class="card-body">
            <div class="row bs-wizard" style="border-bottom:0;">
                <div class="col-xs-3 bs-wizard-step disabled" id="created">
                  <div class="text-center bs-wizard-stepnum">Created</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Lorem ipsum.,,</div>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled" id="arrived"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Arrived</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Lorem ipsum.,,</div>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled" id="sample_prep"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Sample_Prep</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Lorem ipsum.,,</div>
                </div>
                
                <div class="col-xs-3 bs-wizard-step disabled"  id="ms_run"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">LC-MS/MS</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Lorem ipsum.,,</div>
                </div>
             
                <div class="col-xs-3 bs-wizard-step disabled" id="data_analysis"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Data Analysis</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Lorem ipsumipsum.,,</div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled" id="closed"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Closed</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">Lorem ipsum.,,</div>
                      </div>
                </div>
              </div>
            </div>
        </div>
    </div> 
     </div> 
    <div class="row">  
        <div class="col-10 mr-auto">
        <div class="card card-default"> 
          <div class="card-header">
            <p class="dtitle">Expected waiting time for delivery of experiment results</p> 
          </div>
            <div class="card-content">
              <div class="card-body"> 
			<p>Average waiting time for delivery of experiment report: </p>
			<p>Minimum waiting time for delivery of experiment report: </p>
			<p> {{ user.profile.Issue }} </p>
        </div>
        </div>
      </div> 
      </div> 
     </div>  
      <div class="row">   
      <div class="col-10 mr-auto">
        <div class="card card-default"> 
          <div class="card-header">
            <p class="dtitle">Current workload of the core mass spectrometers</p> 
          </div>
            <div class="card-content">
              <div class="card-body"> 
                <div class="row">
              <div class="col-lg-2">
                <div class="text-center bs-sm">
                  <p>Orbitrap Fusion Lumos</p>
                </div>
                <div>
                <img src='{% static "./MassSpecs/OrbitrapFusionLumos.jpg" %}' height="70" class="center align-center" alt="">
                </div>
                <div>
                  <img src='{% static "./MassSpecs/gauge1.svg" %}' height="120" class="center align-center" alt="">
                </div>
                </div>
              <div class="col-lg-2">
                <div class="text-center bs-sm">
                   <p>QExactive HF</p>
                </div>
                <div>
                <img src='{% static "./MassSpecs/QEHF.jpg" %}' height="70" class="center align-center" alt="">
              </div>
                <div>
                  <img src='{% static "./MassSpecs/gauge1.svg" %}' height="120" class="center align-center" alt="">
                </div>
                </div>
               <div class="col-lg-2">
                <div class="text-center bs-sm">
                   <p>QExactive HF BioPharma</p>
                                  </div>
                <div>
                <img src='{% static "./MassSpecs/QEHFBioPharma.jpg" %}' height="70" class="center align-center" alt="">
              </div>
               <div>
                  <img src='{% static "./MassSpecs/gauge1.svg" %}' height="120" class="center align-center" alt="">
                </div>
                </div>
               <div class="col-lg-2">
                <div class="text-center bs-sm">
                   <p>QExactive</p>
                                   </div>
                <div>
                <img src='{% static "./MassSpecs/QExactive.jpg" %}' height="70" class="center align-center" alt="">
                </div>
                  <div>
                  <img src='{% static "./MassSpecs/gauge1.svg" %}' height="120" class="center align-center" alt="">
                </div>
                </div>
              <div class="col-lg-2">
                <div class="text-center bs-sm">
                   <p>LTQ Orbitrap Elite</p>
                                   </div>
                <div>
                <img src='{% static "./MassSpecs/LTQOrbitrapElite.jpg" %}' height="70" class="center align-center" alt="">
              </div>
              <div>
                <img src='{% static "./MassSpecs/gauge1.svg" %}' height="120" class="center align-center" alt="">
                </div>
                </div>
                </div>
                </div>
            </div>
          </div>
        </div> 
       </div>        
</div>


{% endblock %}

{% block extra_js %}


 <script>
var State = 'Closed';
function OpenSessionStatusCSS(State){
    if (State == "Created"){
      $("#created").attr("class", ".col-xs-3 bs-wizard-step complete");
      $("#arrived").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#sample_prep").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#ms_run").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#data_analysis").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#closed").attr("class", ".col-xs-3 bs-wizard-step disabled");
  } else if (State == "Arrived"){
    console.log("A");
    $("#created").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#arrived").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#sample_prep").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#ms_run").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#data_analysis").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#closed").attr("class", ".col-xs-3 bs-wizard-step disabled");

  } else if (State == "Sample_Prep"){
    console.log("SP");
    $("#created").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#arrived").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#sample_prep").attr("class", ".col-xs-3 bs-wizard-step active");
    $("#ms_run").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#data_analysis").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#closed").attr("class", ".col-xs-3 bs-wizard-step disabled");
    
  } else if (State == "MS_Run"){
    $("#created").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#arrived").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#sample_prep").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#ms_run").attr("class", ".col-xs-3 bs-wizard-step active");
    $("#data_analysis").attr("class", ".col-xs-3 bs-wizard-step disabled");
    $("#closed").attr("class", ".col-xs-3 bs-wizard-step disabled");
    
  } else if (State == "Data_Analysis"){
    $("#created").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#arrived").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#sample_prep").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#ms_run").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#data_analysis").attr("class", ".col-xs-3 bs-wizard-step active");
    $("#closed").attr("class", ".col-xs-3 bs-wizard-step disabled");
    
  } else {
    $("#created").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#arrived").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#sample_prep").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#ms_run").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#data_analysis").attr("class", ".col-xs-3 bs-wizard-step complete");
    $("#closed").attr("class", ".col-xs-3 bs-wizard-step complete");
    
  }
}
$(document).ready(OpenSessionStatusCSS(State));

</script>

{% endblock %}

</body>