
{% extends "base.html" %}
{% load i18n %}
{% load requests_extras %}


{% block head_title %}Project Registration || {{ wizard.form.media }}{{ block.super }}{% endblock head_title %}


{# Load the tag library #}


{# Display a form #}


{% block content2 %}

  <div class='container'>
<div class="row">
  <h2 class="dtitle">Experimental design and sample details</h2>  </br>
 <div class="form-row col-12 mb-0">
    <div class="form-group col-12 mb-0">
    </br>
        <p >Please find below a file template <u>for download</u>, where to enter your experimental design and sample details.</p> 
    <div class = "form-group col-10 mb-0">
    <a href= "{{ user.username|addstr }}" download>Experimental design and Sample details template</a>
   </div>-

    <div>
        <p>We kindly ask you to complete it and submit the finalized version.</p>
    </div>
    <div>   
    You will notice the column <i>"Sample Name"</i> will already contain suggested sample names to use for labeling your tubes. 
    </div>
    <div> 
      <p>In case you prefer to use your own sample names, please take care to provide them in this template as an additional <i>"Custom Sample Name"</i> column.</p>
    </div>  
    <div>Also, importantly, the numbering order of the <i>"Sample Name"</i> column indicates the order by which samples will be analysed by LC-MS/MS. If you would prefer another ordering scheme, please specify it by rearranging the <i>"Experimental Condition"</i> column accordingly.</div>
   </div></div>

<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

{% load crispy_forms_tags %}
{{ wizard.management_form }}

    <div class="form-row col-10 mb-0">
    <div class="form-group col-10 mb-0">
       {{ form.EDfile|as_crispy_field }}
     </div>
      </div>

<br/>
<div class="container medind">

{% if wizard.steps.prev %}

<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" name="submit" class="btn btn-sm" value="{% trans "next step" %}" />
</div>
</div>
<div class="form-row col-12 center">
    <div class="meddind">
<p><i><font size="2.8">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} </font></i></p>
</div>
</div>

</form>
  </div>
  </div>

{% endblock %}



