{% extends "base.html" %}
{% load static %}
{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}
<div class='container'> 
  
      <div class="row">   
      <div class="col-10 mr-auto">
        <div class="card card-default"> 
          <div class="card-header">
            <p class="dtitle">Current workload of the core mass spectrometers</p> 
          </div>
            <div class="d-inline-flex card-content">
              <div class="d-inline-flex card-body"> 
                <div class="d-flex justify-content-around row">
              <div class="d-flex flex-column col-lg-2 special-card">
                <div class="text-center bs-sm">
                  <p>Orbitrap Fusion Lumos</p>
                </div>
                <div class="cb">
                <img src='{% static "./MassSpecs/OrbitrapFusionLumos.jpg" %}' height="50" class="center align-center" alt="">
                </div>
                <div class="cb">
                  <img src='{% static "./MassSpecs/Lumosnd.png" %}' height="60" class="center align-center" alt="">
                </div>
                </div>
              <div class="d-flex flex-column col-lg-2">
                <div class="text-center bs-sm">
                   <p>QExactive HF</p>
                </div>
                <div class="cb">
                <img src='{% static "./MassSpecs/QEHF.jpg" %}' height="50" class="center align-center" alt="">
              </div>
                <div class="cb">
                  <img src='{% static "./MassSpecs/QEHFnd.png" %}' height="60" class="center align-center" alt="">
                </div>
                </div>
               <div class="d-flex flex-column col-lg-2">
                <div class="text-center bs-sm">
                   <p>QExactive HF BioPharma</p>
                                  </div>
                <div class="cb">
                <img src='{% static "./MassSpecs/QEHFBioPharma.jpg" %}' height="50" class="center align-center" alt="">
              </div>
               <div class="cb">
                  <img src='{% static "./MassSpecs/QEHFBioPharmand.png" %}' height="60" class="center align-center" alt="">
                </div>
                </div>
               <div class="d-flex flex-column col-lg-2">
                <div class="text-center bs-sm">
                   <p>QExactive</p>
                                   </div>
                <div  class="cb">
                <img src='{% static "./MassSpecs/QExactive.jpg" %}' height="50" class="center align-center" alt="">
                </div>
                  <div class="cb">
                  <img src='{% static "./MassSpecs/QEnd.png" %}' height="60" class="center align-center" alt="">
                </div>
                </div>
              <div class="d-flex flex-column col-lg-2">
                <div class="text-center bs-sm">
                   <p>LTQ Orbitrap Elite</p>      
                   </div>           
                <div class="cb">
                <img src='{% static "./MassSpecs/LTQOrbitrapElite.jpg" %}' height="50" class="center align-center" alt="">
                <div class="cb">
                <img src='{% static "./MassSpecs/Elitend.png" %}' height="60" class="center align-center" alt="">
                </div>                
                </div></div>
              </div>
                </div>
                </div>
            </div>
          </div>
       </div>   
    <div class="row">  
        <div class="col-10 mr-auto">
        <div class="card card-default"> 
          <div class="card-header">
            <p class="dtitle">Workload at the Proteomics Core along the year</p> 
          </div>
            <div class="card-content">
              <div class="card-body"> 
                <div class="row">

                <img src='{% static "./MassSpecs/CaptureClosedOpened1YearDayCumulative3.jpg" %}' height="300" class="center align-center inner" alt="">
        </div>
        </div>
      </div> 
      </div> 
     </div>   

</div>

</div>
{% endblock %}

{% block extra_js %}

{% endblock %}

</body>