
{% extends "base.html" %}
{% load i18n %}
{% load requests_extras %}


{% block head_title %}Project Registration || {{ wizard.form.media }}{{ block.super }}{% endblock head_title %}


{# Load the tag library #}


{# Display a form #}


{% block content2 %}

  <div class='container'>
<div class="row">
  <h2 class="dtitle">Experimental design and sample details</h2>  </br>
 <div class="form-row col-12 mb-0">
    <div class="col-12 mb-0">
    </br>
        <p>Please find below a file template with your experimental design and sample details, including pre-assigned sample names.</p>
        <p>We kindly ask you to confirm the information entered, complete the sample amount information and submit the finalized version.</p>
      </div></div>
<div class="form-row col-10 mb-0">
    <div class = "form-group col-10 mb-0">
    <a href= "{{ user.username|addstr }}" download>Experimental design and Sample details template</a>
   </div></div>

<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

{% load crispy_forms_tags %}
{{ wizard.management_form }}

    <div class="form-row col-10 mb-0">
    <div class="form-group col-10 mb-0">
       {{ form.EDfile|as_crispy_field }}
     </div>
      </div>

<br/>
<div class="form-row col-12 center">
{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" name="submit" class="btn btn-sm" value="{% trans "next step" %}" />
</div>
<div class="form-row col-12 center">
<p><i><font size="2.8">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} </font></i></p>
</div>
</form>
  </div>
   </div>

{% endblock %}



