
{% extends "base.html" %}
{% load i18n %}


{% block head_title %}Project Registration || {{ wizard.form.media }}{{ block.super }}{% endblock head_title %}


{# Load the tag library #}


{# Display a form #}


{% block content2 %}

 <div class='container'>
 <div class="row">
  <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

  <h2 class="dtitle">Sample information</h2>

{% load crispy_forms_tags %}
{{ wizard.management_form }}
       <div class="form-row col-10 mb-0 ">
<div class="form-group col-7 mb-0">
    <div id="div_id_2-Bait_Molecule" class="form-group">
            <label for="id_2-Bait_Molecule_0" class="col-form-label  requiredField">
                Bait molecule is a protein?<span class="asteriskField">*</span>
            </label>
<div class="">
      <div class="form-check">
        <label for="id_id_2-Bait_Molecule_0_1" class="form-check-label">
            <input type="radio" class="form-check-input" name="2-Bait_Molecule" id="id_id_2-Bait_Molecule_0_1" onchange="LabelCheck(this);" value="True">
            Yes
        </label>
      </div>
    
      <div class="form-check">
        <label for="id_id_2-Bait_Molecule_0_2" class="form-check-label">
            <input type="radio" class="form-check-input" name="2-Bait_Molecule" id="id_id_2-Bait_Molecule_0_2" onchange="LabelCheck(this);" value="False">
            No
        </label>
      </div>
</div>    
    </div>
     </div>
            </div>
    <div class="form-row col-11 mb-0 formsub" id="SDBCheckT" style="display:none;">
    <div class="form-group col-8 mb-0">
       {{ form.Bait_Molecule_Protein|as_crispy_field }}
     </div>
    <div class="form-group col-8 mb-0">
       {{ form.Bait_sequence_file|as_crispy_field }}
     </div>
            </div>
    <div class="form-row col-10 mb-0 formsub" id="SDBCheckF" style="display:none;">
    <div class="form-group col-8 mb-0">
       {{ form.Bait_Molecule_other|as_crispy_field }}
     </div>
            </div>
   <div class="form-row col-11 mb-0 ">
    <div class="form-group col-8 mb-0">
       {{ form.Antibodies|as_crispy_field }}
     </div>
            </div>
  <div class="form-row col-8 mb-0 formsub">
    <div class="form-group col-4 mb-0">
       {{ form.AbSource|as_crispy_field }}
     </div>
    <div class="form-group col-4 mb-0">
       {{ form.AbAmount|as_crispy_field }}
     </div>
    </div>
       <div class="form-row col-11 mb-0 ">
    <div class="form-group col-8 mb-0">
       {{ form.Beads|as_crispy_field }}
     </div>
            </div>
  <div class="form-row col-8 mb-0 formsub">
    <div class="form-group col-4 mb-0">
       {{ form.BeadsSource|as_crispy_field }}
     </div>
    <div class="form-group col-4 mb-0">
       {{ form.BeadsAmount|as_crispy_field }}
     </div>
    </div>
       <div class="form-row col-11 mb-0 ">
    <div class="form-group col-8 mb-0">
       {{ form.Species|as_crispy_field }}
     </div>
    </div>

     <div class="form-row col-11 mb-0 ">
    <div class="form-group col-8 mb-0">
    <div id="div_id_2-Sample_Type" class="form-group">
            <label for="id_2-Sample_Type" class="col-form-label  requiredField">
                Sample_type_delivered<span class="asteriskField">*</span>
            </label>
                <div class="">
                    <select name="2-Sample_Type" class="select form-control" id="id_2-Sample_Type"onchange="DDSelectCheck(this);">
  <option value="washed_beads">Washed beads</option>
  <option id="DDOption" value="eluate">Eluate</option>
</select>
                </div>
    </div>
    </div>
        </div>
    <div class="form-row col-9 mb-0 formsub">
    <div class="form-group col-8 mb-0 " id="OIDivCheck" style="display:none;">
       {{ form.Buffer_composition|as_crispy_field }}
       </div>
    </div>


<br/>
<div class="form-row col-10 center ">

{% if wizard.steps.prev %}
<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" class="btn btn-sm" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}
<input type="submit" name="submit" class="btn btn-sm" value="{% trans "next step" %}" />
</div>
<div class="form-row col-10 center ">
<p><i><font size="2.8">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} </font></i></p>
</div>
</form>
  </div>
  </div>
{% endblock %}


{% block extra_js %}
<script>

function LabelCheck(nameLabel)
{
    console.log(nameLabel);
    if(nameLabel.value=="True"){
          document.getElementById("SDBCheckT").style.display = "block";
          document.getElementById("SDBCheckF").style.display = "none";
        }
    if(nameLabel.value=="False"){
          document.getElementById("SDBCheckT").style.display = "none";
          document.getElementById("SDBCheckF").style.display = "block";
        }
}
</script>
<script>
function DDSelectCheck(nameSelect)
{
    console.log(nameSelect);
    if(nameSelect){
        DDOptionValue = document.getElementById("DDOption").value;
        if(DDOptionValue == nameSelect.value){
            document.getElementById("OIDivCheck").style.display = "block";
        }
        else{
            document.getElementById("OIDivCheck").style.display = "none";
        }
    }
    else{
        document.getElementById("OIDivCheck").style.display = "none";
    }
}
</script>
{% endblock %}

