{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}
<div class="col-md-12">
	  <div class="container">
	  	<div class="row">
	  		<div class="col-md-12 text-center">
          <h2 class="text-dark mb-4">Protocols</h2>
        </div>
	  	</div>
	  </div>
	</div>
	  
  <div class="container">
    <div class="row text-dark">
      <div class="col-lg-4 p-3">
        <div class="card text-center">
          <div class="card-body p-4" data-toggle="Tabgeneral">
          <h3>Shotgun</h3>
          <p>+img</p>
              <a class="btn btn-link" href="Tabgeneral">pdf</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <div class="card text-center">
          <div class="card-body p-4" data-toggle="Tabsampleprep">
            <h3>AP-MS</h3>
            <p>+img</p>
            <a class="btn btn-link" href="Tabsampleprep">pdf</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 p-3">
        <div class="card text-center">
          <div class="card-body p-4" data-toggle="TabLCMSMS">
            <h3>PTM analysis</h3>
            <p>+img</p>
              <a class="btn btn-link" href="TABLCMSMS">pdf</a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}	
         

from home show templateview()