{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}
<div class='container'>
<div class="row">
	<!--<nav class="navbar navbar-expand-md navbar-light bg-grey ">-->
  <div class='col-md-12 ml-12 '>


  <h5 class="frb">Frequently asked questions</h5>
  <br>


  <br>
  <h6 class="frb"> Data analysis </h6>

  <div class="container">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapse3">
              What is LFQ?
            </a>
          </div>
          <div id="collapse3" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
                LFQ (LabelFree Quantification) intensity values are the normalized MS intensity across all samples. The normalization corrects for differences in total protein amounts between the samples. This makes it possible to compare the samples. The LFQ intensity values are the values that you should use for further analysis. </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapse4">
              What is iBAQ?
            </a>
          </div>
          <div id="collapse4" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class="indent">
                The iBAQ ratio is the MS intensity corrected for the theoretical detectability of the protein. The higher the iBAQ ratio, the more abundant a protein is WITHIN a sample.</p>
            </div>
          </div>
        </div>
      </div>
  </div>

  <h6 class="frb"> LC-MS/MS analysis </h6>

  <div class="container">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapse5">
              What is LFQ?
            </a>
          </div>
          <div id="collapse5" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
                LFQ (LabelFree Quantification) intensity values are the normalized MS intensity across all samples. The normalization corrects for differences in total protein amounts between the samples. This makes it possible to compare the samples. The LFQ intensity values are the values that you should use for further analysis. </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapse6">
              What is iBAQ?
            </a>
          </div>
          <div id="collapse6" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class="indent">
                The iBAQ ratio is the MS intensity corrected for the theoretical detectability of the protein. The higher the iBAQ ratio, the more abundant a protein is WITHIN a sample.</p>
            </div>
          </div>
        </div>
      </div>
  </div>


  {% endblock %}	
         

from home show templateview()