{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super }}{% endblock head_title %}

{% block content2 %}
<div class='container'>
<div class="row">
	<!--<nav class="navbar navbar-expand-md navbar-light bg-grey ">-->
  <div class='col-md-12 ml-12 '>


  <h5 class="frb">Frequently asked questions</h5>

  <h6 class="frb"> Data analysis </h6>

  <div class="container">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link" data-toggle="collapse" href="#collapseOne">
              What is LFQ?
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
                LFQ (LabelFree Quantification) intensity values are the normalized MS intensity across all samples. The normalization corrects for differences in total protein amounts between the samples. This makes it possible to compare the samples. The LFQ intensity values are the values that you should use for further analysis. </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
              What is iBAQ?
            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class="dubble-indent">
                  The iBAQ ratio is the MS intensity corrected for the theoretical detectability of the protein. The higher the iBAQ ratio, the more abundant a protein is WITHIN a sample.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
              3. Put samples in tubes and label them well
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
             <p class = "indent">
              <span class = "fond-weight-bold">Samples</span> should be delivered <span class = "fond-weight-bold">in tubes</span> (Eppendorf, 15 ml, 50 ml,...). Samples in plates will only be accepted when delivered in person and if they were not mixed/spilled during the delivery process.</p>
              <p class = "indent">
                <span class = "fond-weight-bold">Label</span> your samples well, preferably with short names on stickers. Also <span class = "fond-weight-bold">provide a list</span> of all samples to the VIB Proteomics Core.Place all samples in a <span class = "fond-weight-bold">sealable plastic (ziplock) bag or box</span> before putting them in the dry ice and shipping container.</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
              4. Label the shipping container and add extra info
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <p class = "indent">
                <span class = "fond-weight-bold">Label</span> the shipping container with:
                <ul class = "ab">
                  <li>The name of the lab</li>
                  <li>The name of the person sending the samples</li>
                  <li>the PRC number</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>

  {% endblock %}	
         

from home show templateview()