{% extends "base.html" %}
{% block head_title %}Sample delivery || {{ block.super }}{% endblock head_title %}

{% block content2 %}

    <body>
 
        <h1>Sample Delivery Instructions</h1>

        <h3>1. Use enough (dry) ice and use a good container for shipping </h3>
		
        <p>
		    Use <strong>dry ice</strong> for shipping <span style="font-variant: small-caps;font-weight: bold;">frozen </span> samples as dry ice will freeze everything in the shipping box. 
		</p>
		<p>
		    Use <strong> <q>gel packs</q></strong> or regular ice for samples to be <span class="accent">refrigerated </span> and when you are able to <strong>deliver</strong> the samples <strong>in person</strong>.
	    </p>
		<p>
		    Shipments are generally recommended to contain 2.5 - 5 kg of dry ice per 24 hours. Refer to your package manufacturer's recommendations. A thick poly styrene box or special insulated box will reduce the amount of dry ice needed and allow extended shipping times.
		</p>
		<p>
		    <strong>Reusing</strong> a dry ice <strong>box</strong> is a good use of resources. 
			If you choose to reuse a box, completely <strong>obliterate all unnecessary marking</strong> such as hazard labels, addresses, FedEx (or other courier) labels and barcodes. 
			Use caution if reusing a box that has been used to ship infectious material or diagnostic specimens. 
			Only reuse a box if you can personally <strong>verify it is not contaminated</strong> and its <strong>integrity is intact</strong>. 
			A box should not be reused if it is torn, cut, stained, or if the insulation is cracked or broken. 
		</p>
		<p>
		    <strong>Minimize the volume of air</strong> to which the dry ice is exposed in order to <strong>slow the rate of sublimation</strong>. 
			If there is any air space after you fill your package with dry ice, fill it with packing peanuts or other material to reduce the volume of air space.
		</p>
		<p>
		    <strong>Make sure the box is not closed hermetically</strong>. During transport, dry ice will sublimate and the gas should be able to escape from the box to prevent explosion.
         </p>  

        <h3>2. Put samples in tubes and label them well</h3>

		<p>
		    <strong>Samples</strong> should be delivered <strong>in tubes</strong> (Eppendorf, 15 ml, 50 ml,...). 
			Samples in plates will only be accepted when delivered in person and if they were not mixed/spilled during the delivery process.
		</p>
		<p>
		    <strong>Label your samples well</strong>, preferably with short names on stickers. Also <strong>provide a list</strong> of all samples to the VIB Proteomics Core.
			Place all samples in a <strong>sealable plastic (ziplock) bag or box</strong> before putting them in the dry ice and shipping container.
		</p>

        <h3>3. Label the shipping container and add extra info </h3>
		
		<p>
		    <strong>Label</strong> the shipping container with the name of the <strong>lab and name</strong> of the person sending the samples.
			If available, add the PRC number on the box. 
			Complete the box by adding the filled in <strong>analysis request sheet(s)</strong>.
        </p>
		
		<h3>4. Contact the Facility at an early stage and announce delivery </h3>
		
		<p>
		    <strong>If you consider sending samples</strong> to the Facility, <strong>contact the Proteomics Core</strong> in an early stage so your specific question can be discussed.
			<strong>Make arrangements with the Proteomics Core </strong> to make sure your package will be received on its intended delivery date. 
			Take into account <strong>weekends, local holidays or closings</strong> that might delay package receipt. In general, it is not recommended to ship frozen or refrigerated samples on Thursdays or Fridays.
		</p>
		<p>
		    Delivery of the samples can be done by using a <strong>delivery service company or in person</strong>. Use the <strong><q>Same day</q> or <q>Next day</q> delivery </strong> option when using a company to prevent samples to arrive thawed.
    </body>
</html>