

{% extends "basenonav.html" %}
{% load i18n %}
{% block head_title %}Terms of Use || {{ block.super }}{% endblock head_title %}


{% block content2 %}
<div class='container'>
<div class="row">
  <div class="col-10 ml-auto mr-auto">


<h2>Terms of Use</h2>
</br>
<ol>
	<li><span class="fond-weight-bold">Delivery terms</span>
		</br>
		<ul>
		<li class="unstyled text-justify">
Adequate conditions and scheduling for shipment of samples has to be agreed with a contact person from the VIB Proteomics Core. The VIB Proteomics Core cannot be held liable for sample damage or sample loss due to delayed delivery. 
    2. Sample storage 
	</li></ul>
	</br>
	<li><span class="fond-weight-bold">Sample storage</span>
		</br>
		<ul>
		<li class="unstyled text-justify">
		Your samples and any remaining material will be stored for one year, after which all materials will be discarded without prior notification. In case an extension of this period is required, the facility manager should be informed by email well in advance. If you would like to recover any leftover samples, please arrange shipment or pickup with the facility manager well in advance. Any costs associated with returning leftover samples will be charged to the user.
		</li>
		</ul>
			</br>
	</li>
		<li><span class="fond-weight-bold">Data protection</span>
		</br>
		<ul>
		<li class="unstyled text-justify">
		Raw MS data and associated files are stored and backed up for at least five years on the servers of the VIB Proteomics Core. The user can contact the facility manager in case access to these data is required. Data transfer over a secured file transfer system can be arranged upon request.
		</li>
		</ul>
		</br>
	</li>
		<li><span class="fond-weight-bold">Service payment</span>
		</br>
		<ul>
		<li class="unstyled text-justify">
		By submitting samples, the user accepts to pay any service fees associated with the analysis of the samples. Information about the service costs can be obtained from the core facility manager.
		</li>
		</ul>
			</br>
	</li>
		<li><span class="fond-weight-bold">Acknowledgements</span>
		</br>
		<ul>
		<li class="unstyled text-justify">
		By submitting samples, the user agrees to acknowledge the Proteomics Core in any publication using data generated and/or analyzed at the VIB Proteomics Core.
		</li>
		</ul>
	</li>
</ol>	

          </div>
         </div>
             </div>


       <div class="col-4">
                    <div class="alert" style='min-height: 400px;'>
          </div>
         </div>
  {% endblock %}  
