{% extends 'base.html'%}

{% block head_title %}Terms of Use || {{ block.super }}{% endblock head_title %}


{% block content2 %}
<div class='container'>
<div class="row">
  <div class="col-10 ml-auto mr-auto">


<h2>Terms of Use</h2>
</br>
<ol>
	<li><span class="fond-weight-bold">Training</span>
		</br>
		<ul>
           <li class=" unstyled text-justify">
           	Before getting access to any specific instrument, users should receive training by the facility staff before initiating equipment operation by themselves. The user may only sign up for instruments for which they have been formally trained on or authorized to use after demonstrated expertise.
			Training on any instruments are conducted by facility staff ONLY.
			</li>	
		</ul>
	</li>
	</br>
	<li><span class="fond-weight-bold">Reservations and Cancellations</span>
	</br>
		<ul>
		<li class="unstyled text-justify">
		All reservations should be made by using the online-reservation system.
		If a user is found to use an instrument during an unscheduled time, or significantly beyond the scheduled time without notifying the core facility staff, the user’s lab will be responsible for instrument charges incurred, the PI will be notified.
		Cancellation or modification of a reserved time slot is required within 24 hours before the scheduled time slot. Cancellation during the scheduled time slot is not possible by the user, and has to be discussed with the core facility. The user may be financially responsible for any such last minute changes. In case of a no-show or no advanced notification, the user will be charged for the reserved time slot.
	</li>
	</ul>
	</li>
	</br>
	<li><span class="fond-weight-bold">Responsibility for Equipment Misuse</span>
	</br>
		<ul>
		<li class=" unstyled text-justify">
		If equipment is damaged due to improper and negligent use, the P.I. is responsible for part or all of repair costs.
		</li>
		</ul>
	</li>
	</br>
	<li><span class="fond-weight-bold">Data storage</span>
		</br>
		<ul>
		<li class="unstyled text-justify">
		Raw data are temporarily stored and backed up on the server of the core facility. All raw data will be deleted without warning after 2 years. In case an extension to this period is required, the facility manager should be informed timely.
	</li></ul>
	</br>
	<li><span class="fond-weight-bold">Acknowledgements</span>
		</br>
		<ul>
		<li class="unstyled text-justify">
		In case data collected by use of the Bio-Imaging Core equipment are used in publications, the Bio-Imaging Core needs to be acknowledged.
		</li>
		</ul>
	</li>
</ol>	

          </div>
         </div>
             </div>


       <div class="col-4">
                    <div class="alert" style='min-height: 400px;'>
          </div>
         </div>
  {% endblock %}  
